motor
pyrofork
tgcrypto
telethon
cryptg
fastapi
uvicorn
pytz
smartfaker
brotli
zstandard
aiofiles
lxml
smartbindb
googletrans
beautifulsoup4
cloudscraper
gtts
pillow
requests
aiohttp<3.13
pycountry
pydantic<2.0
python-dateutil
py-yt-search==0.2